cowrie/cowrie.cfg
cowrie/cowrie.pid
cowrie/etc/ssh_host_dsa_key
cowrie/etc/ssh_host_dsa_key.pub
cowrie/etc/ssh_host_rsa_key
cowrie/etc/ssh_host_rsa_key.pub
cowrie/var/log/cowrie/*
cowrie/*.egg-info
cowrie/dl/
cowrie/dist/
cowrie/docs/_build
cowrie/build/
cowrie/log/
cowrie/.eggs/
cowrie/.envrc
cowrie/.direnv/
cowrie/.pyre*
cowrie/.pytype/
cowrie/__pycache__/
cowrie/*.py[cod]
cowrie/*env/
cowrie/src/cowrie/_version.py
cowrie/src/twisted/plugins/dropin.cache
cowrie/.DS_Store
cowrie/_trial_temp
cowrie/.project
cowrie/.pydevproject
cowrie/.idea/
cowrie/.tox
.idea/